* {
	margin: 0;
	padding: 0;
}

body {
	background-color: black;
	color: white;
}

.heading {
	text-align: center;
	margin-top: 10px;
}

.login-form {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 2px solid yellow;
	display: flex;
	justify-content: center;
	gap: 10px;
	align-items: center;
	flex-direction: column;
	width: 50vw;
	height: 60vh;
}

.login-form input {
	width: 70%;
	height: 50px;
	padding: 10px;
	box-sizing: border-box;
	font-size: 1.25rem;
}

.login-form button {
	width: 80px;
	height: 30px;
	font-size: large;
	background-color: rgb(177, 201, 212);
}

.login-form button:hover {
	background-color: aqua;
}

.chatbox {
	position: absolute;
	left: 50%;
	top: 20%;
	transform: translate(-50%, -20%);
	/* border: 2px solid yellow; */
	width: 90vw;
	height: 60vh;
	padding: 10px;
	overflow: scroll;
}

.msg-box {
	position: absolute;
	bottom: 10%;
	left: 50%;
	transform: translate(-50%, -10%);
	/* border: 2px solid yellow; */
	width: 50vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.msg-box input {
	width: 70%;
	height: 40px;
	font-size: large;
	padding: 10px;
	box-sizing: border-box;
}

.msg-box button {
	height: 30px;
	width: 50px;
	font-size: large;
}

.logout {
	position: absolute;
	bottom: 0%;
	right: 2%;
	width: 50px;
	height: 30px;
}

.text {
	margin: 10px;
}

@media (max-width: 425px) {
	.login-form {
		width: 90svw;
		height: 80svh;
	}
	.login-form input {
		width: 90%;
		height: 35px;
	}

	.msg-box {
		width: 90svw;
	}

	.chatbox {
		height: 70svh;
	}
} 

