* {
    margin: 0;
    padding: 0;
}

#root {
    position: relative;
    box-sizing: border-box;
    background-color: hsl(66, 93%, 72%);
    height: 100vh;
    width: 100vw;
    border: 1px solid black;
}

.heading {
    text-align: center;
    margin: 1.75rem;
}

.dialogBox {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40vw;
    height: 35vh;
    background-color: hsl(180, 15%, 81%);
    transform: translate(-50%, -50%);
    padding: .5rem;
    border-radius: 25px 7px;
    border: 2px solid black;
    display: none;
}

.dialogHeading {
    text-align: center;
    margin: .23rem;
}

.dialogBox .noteTitle {
    display: block;
    /* justify-self: center; */
    position: relative;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 30px;
    padding: 7px;
    font-size: 1rem;
    box-sizing: border-box;
}

.confirmationBtn {
    width: 40%;
    height: 20%;
    
}

.confirmationBtnDiv {
    width: 60%;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
}

.note {
    width: 200px;
    height: 200px;
    background-color: hsl(180, 100%, 97%);
    border: 2px solid black;
}

@media (max-width:425px) {
    .dialogBox {
        width: 60vw;
    }
}